<h1>ユーザー詳細</h1>
<div>
  <% if user.img.present? %>
    <%= image_tag user.img.url, class: "profile_image" %>
  <% else %>
    <%= image_tag "default_image.png", width: "123px", height: "123px" %>
  <% end %>
</div>
<div>
  <h3><%= user.name %></h3>
  <% if user.hide_gender == true %>
    <p>性別: 非公開</p>
  <% else %>
    <p>性別: 
      <%= case user.gender 
          when 1
            "男性"
          when 2
            "女性"
          else
            "その他"
          end %>
    </p>
  <% end %>
  
  <% if user.hide_age == true %>
    <p>年代: 非公開</p>
  <% else %>
    <p>年代: <%= user.age %>代</p>
  <% end %>
</div>
<%= render 'relationships/follow_button', user: @user %>
