<% if users.any? %>
  <ul>
    <% users.each do |user| %>
      <li>
          <div class="card">
            <div class="user-bio">
              <% if user.img.present? %>
                <%= image_tag user.img.url, class: "profile-image-md" %>
              <% else %>
                <%= image_tag "default_image.png", class: "profile-image-md" %>
              <% end %>
              <%= link_to user.name, user_path(user), class: "name" %>  
              <div class="user-attributes">
                <% if user.hide_gender == true %>
                  <p>非公開 | 
                  <% if user.hide_age == true %>
                    非公開
                  <% else %>
                    <%= user.age %>代
                  <% end %></p>
                <% else %>
                  <p><%= case user.gender 
                        when 1
                          '男性'
                        when 2
                          '女性'
                        else
                          'その他'
                        end %> |  
                  <% if user.hide_age == true %>
                    非公開
                  <% else %>
                    <%= user.age %>代
                  <% end %></p>
                <% end %>
              </div>
            </div>
            <div class="follow-swtich">
              <% if current_user.following?(user) %>
                <%= form_with(model: current_user.relationships.find_by(follow_id: user.id), local: true, method: :delete) do |f| %>
                  <%= hidden_field_tag :follow_id, user.id %>
                  <%= f.submit "フォロー解除", class: 'btn unfollow' %>
                <% end %>
              <% else %>
                <%= form_with(model: current_user.relationships.build, local: true) do |f| %>
                  <%= hidden_field_tag :follow_id, user.id %>
                  <%= f.submit "フォロー", class: 'btn follow' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
<% end %>