<div class="white-block">
  <div class="row">
    <div class="col-md-4 large-block">
      <h1>ユーザー詳細</h1>
      <div>
        <h3><%= @user.name %></h3>
        <p>ID: <%= @user.id %></p>
        <p><%= @user.email %></p>
        <p><%= @user.gender %>
        <p><%= @user.age %>代</p>
        <p>性別公開: <%= @user.display_gender %></p>
        <p>年代公開: <%= @user.display_age %></p>
        <p>記録公開: <%= @user.display_records %></p>
      </div>
      <div>
        <%= render 'relationships/follow_button', user: @user %>
      </div>
      <div><%= link_to "ユーザー設定", edit_user_path(@user) %></div>
      <div><%= link_to "フォロー一覧", followings_user_path(@user) %></div>
      <div><%= link_to "フォロワー一覧", followers_user_path(@user) %></div>
    </div>
    
    <div class="col-md-8">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item"><%= link_to "投稿一覧", user_path(@user) %></li>
        <li class="nav-item"><%= link_to "いいね一覧", likes_user_path(@user) %></li>
        <li class="nav-item"><%= link_to "勉強履歴", "#"  %></li>
        
      </ul>
      <%= render "microposts/microposts", microposts: @microposts %>
    </div>
  </div>
</div>