<div class="white-block">
  <div class="row">
    <div class="col-md-4 large-block">
      <%= render "user_info", user: @user %>
      <% if current_user == @user %>
        <%= link_to "ユーザー設定", edit_user_path %>
        <%= link_to "パスワード変更", edit_password_path %>
      <% end %>
      <a><%= link_to "フォロー", followings_user_path(@user) %> <span class="badge badge-secondary"><%= @count_followings %></span></a>
      <a><%= link_to "フォロワー", followers_user_path(@user) %> <span class="badge badge-secondary"><%= @count_followers %></a>
    </div>
    <div class="col-md-8">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item"><%= link_to "投稿一覧", user_path(@user) %> <span class="badge badge-secondary"><%= @count_microposts %></span></li>
        <li class="nav-item"><%= link_to "いいね一覧", likes_user_path(@user) %> <span class="badge badge-secondary"><%= @count_favorites %></span></li>
        <% if current_user == @user %>
          <li class="nav-item"><%= link_to "勉強履歴", records_user_path(@user) %> <span class="badge badge-secondary"><%= @count_records %></span></li>
        <% else %>
          <% unless @user.hide_records == true %>
            <li class="nav-item"><%= link_to "勉強履歴", records_user_path(@user) %> <span class="badge badge-secondary"><%= @count_records %></span></li>
          <% end %>
        <% end %>
      </ul>
      <div class="scroll">
        <%= render "records/records", records: @records %>
      </div>
    </div>
  </div>
</div>