<div class="studying_banner">
  <p><%= record.label %></p>
  <% unless record.null_timer == true %>
    <!--<p>経過時間: <%= Time.at(record.elapsed_time).strftime("%X") %> </p>-->
  <% end %>
  <% if record.stopped == false %>
    <button><%= link_to "一時停止", stop_record_path(record) %></button>
  <% else %>
    <button><%= link_to "再開", restart_record_path(record) %></button>
  <% end %>
    <button><%= link_to "終了", finish_record_path(record), data: {confirm: "本当に終了しますか？"} %></button>
  <% if record.hide_support == true %>
    <p>エール</p>
  <% else %>
    <p><%= link_to "エール", supporters_supports_path %><span class="badge badge-secondary"><%= support_counts(record) %></span></p>
  <% end %>
  
</div>