
<div class="white-block">
  <div class="row">
    <div class="col large-block text-center">
      <h1>勉強している人</h1>
      <ul>
        <% @records.each do |record| %>
        <li>
          <div class="media">
            <a href="#" class="align-self-start mr-3">
              <% if record.user.profile_image.attached? %>
                <%= image_tag record.user.profile_image.variant(resize: "60x60" ) %>
              <% else %>
                <%= image_tag "default_image.png", width: "60px", height: "60px" %>
              <% end %>
            </a>
            <%= render "supports/support_button", record: record %>
            <div class="media-body">
              <p>ID: <%= record.id %></p>
              <p>名前: <%= record.user.name %></p>
              <p>性別: 
                <%= case record.user.gender 
                    when 1
                      "男性"
                    when 2
                      "女性"
                    else
                      "その他"
                    end %>
              </p>
              <p>年代: <%= record.user.age %>代</p>
              <p>ラベル: <%= record.label %></p>
              <p>エール非公開: <%= record.hide_support %></p>
              <% unless record.hide_support == true %>
                <p>エール数: <span class="badge badge-secondary"><%= support_counts(record) %></span></p>
              <% end %>
              <p>finished: <%= record.finished %></p>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
