<div class="main-wrapper">
  <div class="largeBlock">
    <h1>勉強している人</h1>
    <% if @records.any? %>
      <p>仲間にエールを送りましょう!</p>
    <% else %>
      <p>現在勉強している人はいません</p>
    <% end %>
    <div class="records scroll">
      <ul>
        <% @records.each do |record| %>
          <li>
            <div class="card">
              <% if record.user.img.present? %>
                <%= image_tag record.user.img.url, class: "profileImageMd"  %>
              <% else %>
                <%= image_tag "default_image.png", class: "profileImageMd" %>
              <% end %>
              <%= link_to record.user.name, user_path(record.user), class: "name" %>
              <p class="content" ><%= record.label %></p>
              <% unless record.hide_support == true %>
                <div class="yell">
                  <%= render "supports/support_button", record: record %>
                  <%= support_counts(record) %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
