<div class="memo memo-sm"><span class='masking-tape'></span>
  <h2 class="pagetitle">勉強をはじめる</h2>
  <div class="study-new">
    <div class="form">
      <%= form_with(model: @record, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="input-box">
          <%= f.label :label, "学習の内容や意気込みなど（30文字以内）" %>
          <%= f.text_area :label %>
        </div>
        <div class="check-box">
          <%= f.label :hide_support, "エールを表示しない" %>
          <%= f.check_box :hide_support %>
        </div>
        <div class="check-box">
          <%= f.label :null_timer, "時間を計測しない" %>
          <%= f.check_box :null_timer %>
        </div>
        <div class="submit">
          <%= f.submit "開始" %>
        </div>
      <% end %>
    </div>
  </div>
</div>