<div class="main-wrapper">
  <div class="smallBlock">
    <div class="result">
      <h2>勉強終了</h2>
      <div>
        <p>おつかれさまです！</p>
        <p><%= @record.label %></p>
        <% unless @record.null_timer == true %>
          <p>経過時間</p>
          <p class="elapsed_time"><%= Time.at(@record.elapsed_time).strftime('%X') %></p>
        <% end %>
        
        <% unless @record.hide_support == true %>
          <!--<p class="yellicon">&#x1f4e3;<%= support_counts(@record) %></p>-->
          <p class="yellicon"><i class="fas fa-thumbs-up fa-lg"></i><%= support_counts(@record) %></p>
        <% end %>
      </div>
      <%= link_to("ホーム", records_path, {class: "toHome"}) %>
    </div>
  </div>
</div>
