<div class="main-wrapper">
  <div class="introduction">
    <h1>みんなと一緒に<br>勉強しましょう！</h1>
  </div>
  <div class="login_wrapper">
    <div class="login_form">
      <h2>ログイン</h2>
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
        <div class="inputBox">
          <%= f.email_field :email, class: 'inputLine' %>
          <%= f.label :email, 'メールアドレス', class: 'label' %>
        </div>
        <div class="inputBox">
          <%= f.password_field :password, class: 'inputLine' %>
          <%= f.label :password, 'パスワード', class: 'label' %>
        </div>
        <p><%= f.submit "ログイン", class: 'submit' %></p>
      <% end %>
      <p><%= link_to "簡単ログイン", easy_login_path, method: :post, class: 'simpleLogin' %></p>
    </div>
  </div>
</div>