<div class="main-wrapper">
  <div class="longBlock">
    <div class="alterPassword">
      <h2>パスワード変更</h2>
        <%= form_with(model: @user, url: password_path, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: @user %>
          <div class="inputBox">
            <%= f.password_field :current_password, class: 'inputLine' %>
            <%= f.label :current_password, '現在のパスワード', class: 'label' %>
          </div>
          <div class="inputBox">
            <%= f.password_field :new_password, class: 'inputLine' %>
            <%= f.label :new_password, '新しいパスワード', class: 'label' %>
          </div>
          <div class="inputBox">
            <%= f.password_field :password_confirmation, class: 'inputLine' %>
            <%= f.label :password_confirmation, '新しいパスワード（確認用）', class: 'label' %>
          </div>
          <%= f.submit '更新', class: "submit" %>
        <% end %>
        <%= link_to "戻る", user_path(@user), class: 'back' %>
      </div>
    </div>
  </div>
</div>